body {
  font-family: Arial, sans-serif;
}

h2 {
  color: #333;
}

.post-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
}

.button{
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  color:black;
  background-color: #007BFF;
  border: 3px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  transition: transform 1s;
}

.button::before {
  content: '';
  position: absolute;
  top: -3px; /* Adjust to match the border width */
  left: -3px; /* Adjust to match the border width */
  right: -3px; /* Adjust to match the border width */
  bottom: -3px; /* Adjust to match the border width */
  border-radius: 5px;
  background: linear-gradient(45deg, transparent, white, transparent);
  background-size: 100% 100%;
  animation: shine 3s linear infinite;
  z-index: -1;
}
@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.button:hover {
  transform: rotate(720deg);
}